# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\dj5pmjan\django_school\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
